body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    padding: 20px 0;
}

.half-width {
    width: 40%;
    margin: 0 5%;
}

h1 {
    margin: 0;
    font-size: 50px;
}

.deeppink-text {
    color: deeppink;
}

.darkslategray-text {
    color: darkslategray;
}

.gray-text {
    color: gray;
}

p {
    text-align: justify;
}

.button {
    text-decoration: none;
    padding: 15px 35px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(to right, hotpink, deeppink);
    border-radius: 25px;
}

#healthy-food-image {
    width: 95%;
}

#aboutme-banner {
    display: flex;
    padding-top: 60px;
    background-image: url("../img/aboume-bg.jpg");
    background-repeat: none;
    background-size: cover;
}

#person-image {
    display: block;
    width: 60%;
    margin: 0 auto;
}

.dimgray-text {
    color: rgb(69, 69, 69);
}

#my-recipies {
    display: block;
    width: 100%;
}

h2 {
    font-size: 32px;
}

.centered-text {
    margin: 0;
    padding: 0;
    text-align: center;
}

#food-items-container {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.food-items {
    float: left;
    width: 19%;
    margin: 5%;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}

.recipie-images {
    width: 100%;
}

h3 {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}

.deeppink-line {
    display: block;
    width: 90%;
    height: 20px;
    margin: 0 auto;
    background: deeppink;
}

#address-box {
    display: block;
    width: 90%;
    margin: 0 auto;
}

#address-box input {
    display: block;
    float: left;
    width: 60%;
    padding: 10px 5%;
    border: 1px solid gray;
}

#address-box button {
    display: block;
    float: left;
    width: 25%;
    margin-left: 4%;
    padding: 10px 0;
    border: none;
    background-color: deeppink;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

footer {
    display: flex;
    width: 100%;
    height: 90px;
    margin-top: 150px;
    background: darkslategray;
}

.tenpx-vspace {
    display: block;
    width: 100%;
    height: 10px;
}

