body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    padding: 20px 0;
}

.half-width {
    width: 40%;
    margin: 0 5%;
}

h1 {
    margin: 0;
    font-size: 50px;
}

.deeppink-text {
    color: deeppink;
}

.darkslategray-text {
    color: darkslategray;
}

.gray-text {
    color: gray;
}

.button {
    text-decoration: none;
    padding: 15px 35px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(to right, pink, deeppink);
    border-radius: 25px;
}

.tenpx-vspace {
    display: block;
    width: 100%;
    height: 10px;
}

