body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    padding: 20px 0;
}

.half-width {
    width: 40%;
    margin: 0 5%;
}

h1 {
    margin: 0;
    font-size: 50px;
}

.deeppink-text {
    color: deeppink;
}

.darkslategray-text {
    color: darkslategray;
}

.gray-text {
    color: gray;
}

.button {
    text-decoration: none;
    padding: 15px 35px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(to right, hotpink, deeppink);
    border-radius: 25px;
}

#healthy-food-image {
    width: 95%;
}

#aboutme-banner {
    display: flex;
    padding-top: 60px;
    background-image: url("../img/aboume-bg.jpg");
    background-repeat: none;
    background-size: cover;
}

#person-image {
    display: block;
    width: 60%;
    margin: 0 auto;
}

h2 {
    font-size: 32px;
}

.tenpx-vspace {
    display: block;
    width: 100%;
    height: 10px;
}

